/**************************************
***** Buttons
***************************************/

.btn {
     background-color: transparent;
     border: none;
     cursor: pointer;

     &:focus {
          outline: none;
     } 
}

.search__button {
     @extend .btn;
     margin-right: .6rem;
}

.btn--logout {
     color: $color-white;
     font-size: 1.5rem;
     align-self: stretch;
     padding: 0 2.8rem;
     transition: all 0.2s ease-in-out;
     font-weight: 300;

     @include responsive(68.75em) { //1200px
          display: none;
     }

     &:hover {
          background-color: $color-white;
          color: $color-red-dark;
     }
}

.btn-add {
     margin-top: 2rem;;
     @extend .btn;
     border: 2px solid $color-white;
     border-radius: 4px;
     color: $color-white;
     text-transform: uppercase;
     font-weight: 400;
     font-size: 1.4rem;
     @include flexCenter;
     padding: 1rem;
     background: linear-gradient(140deg, transparent 0%, transparent 50%, #ac3e49 50%);
     background-size: 260%;
     transition: all .6s;

     @include responsive(phone) {
          font-size: 1.2rem;
     }

     &:hover {
          background-position: 90%;
          border: 2px solid $color-red-dark-3;
          box-shadow: 0 1.5rem 4rem rgba(20, 20, 20, 0.511);
          transform: translateY(-2px);

          @media (hover: none) {
               transform: translateY(0px);
          }
     }

     &:active {
          background-position: 90%;
          border: 2px solid $color-red-dark-3;
          box-shadow: 0 1.5rem 4rem rgba(20, 20, 20, 0.211);
          transform: translateY(0px);
     }

     &__icon {
          width: 2rem;
          height: 2rem;
          fill: $color-white;
     }
}

.btn-close {
     @extend .btn;
     display: inline-block;
     position: absolute;
     top: 0;
     right: 0rem;
     z-index: 4000;
     padding: 1rem 1.5rem;
     overflow: hidden;
     
     &::before {
          position: absolute;
          top: -100%;
          left: 0;
          content: "";
          display: block;
          background-color: $color-red-dark-3;
          height: 100%;
          width: 100%;
          z-index: -1;
          transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);

          @media (hover: none) {
               top: 0;
          }
     }

     &:hover::before {
          top: 0;
     }

     &:hover &__icon {
          transform: rotate(90deg);
     }

     &__icon {
          width: 3rem;
          height: 3rem;
          fill: $color-white;
          transition: all .4s ease-in-out;
     }
}

.btn-play {
     @extend .btn-add;
     padding: 1.2rem 3.5rem;

     &--mobile {
          
          &:link,
          &:visited {
               text-decoration: none;
               display:none;
               margin-left: 2rem;
               border: 2px solid $color-red-dark-3;
               background-color: $color-red-dark-3;
               box-shadow: 0 1.5rem 4rem rgba(20, 20, 20, 0.511);
          }

          @include responsive(43.75em) { 
               &:link,
               &:visited {
                    display: inline-block;
               }
          }

          @include responsive(phone-sm) {
               &:link,
               &:visited {
                    margin-left: 0rem;
               }
          }
     }
}