/**************************************
***** Colors
***************************************/

$color-red: #FC4D55;
$color-red-dark: #DC3023;
$color-red-dark-2: #CF3A24;
$color-red-dark-3: #ac3e49;
$color-black: #191C20;
$color-gray: #222B31;
$color-orange: #E48405;
$color-white: #FFFFFF;
$color-yellow: #F7B032;

$color-logo: #f7f7f7;

$text-gray: #ADB9C1;
$text-red: #B9424E;
$text-gray-blue: #7FA0B4;

$bg-black-dark: #191C1F;
