/**************************************
***** Typography
***************************************/

body {
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     line-height: 1.7;
     color: $color-white;
     text-rendering: optimizeLegibility;
}

.heading-second {
     font-weight: 300;
     font-size: 3rem;
     font-weight: 300;
     letter-spacing: .1rem;
     word-spacing: .1rem;
     margin-bottom: 3rem;
     margin-left: 1rem;
}

.heading-third {
     font-weight: 300;
     text-transform: uppercase;
     font-size: 1.3rem;
}

.heading-fourth {
     margin-top: 1.2rem;
     margin-bottom: .4rem;
     font-size: 1.8rem;
     font-weight: 400;
     word-break: break;
}

.movie-detail {

     &__heading {
          font-size: 2.8rem;
          margin-bottom: 2rem;

          @include responsive(phone) { 
               font-size: 2.6rem;
          }
     }

     &__overview {
          font-size: 1.5rem;
          margin-bottom: 2rem;

          @include responsive(phone) { 
               font-size: 1.4rem;
          }
     }
     
     &__director {
          font-size: 1.6rem;
          text-transform: capitalize;

          @include responsive(phone) { 
               font-size: 1.5rem;
          }
     }
}

.live-activity {
     word-break: break;
     
     &__message-text {
          font-size: 1.2rem;
          letter-spacing: 0.05rem;
     }

     &__highlight {
          color: $text-red;
     }
}