.search {
     margin-right: auto;
     margin-left: 3.5rem;
     @include flexCenter;
     color: rgb(255, 225, 228);
     border-radius: 20px;
     padding: .2rem 1rem;

     &__input {
          background-color: transparent;
          border: none;
          font-family: inherit;
          color: inherit;
          padding: .7rem .6rem;
          font-size: 1.5rem;
          font-weight: 300;
          

          &::-webkit-input-placeholder {
               color: inherit;
          }

          &:focus {
               outline: none;
          }
     }

     &__icon {
          height: 2.2rem;
          width: 2.2rem;
          fill: rgb(255, 225, 228);
     }
}