.live-activity {
     margin-top: 1rem;
     padding: 1.4rem 3rem 1.4rem 3.5rem;

     &__heading-box {
          @include flexCenterHorizontal;
          margin-bottom: 2.5rem;
     }

     &__number {
          @include flexCenter;
          background-color: #DD4D57;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          font-size: 1.2rem;
          margin-left: .6rem;
          color: rgb(255, 225, 228);
     }

     &__message {
          @include flexCenterHorizontal;

          &:not(:last-child) {
               margin-bottom: 3rem;
          }
     }

     &__message-text {
          margin-left: 1rem;
          align-self: flex-start;

          @include responsive(81.25em) {
               align-self: center;
          }
     }

     &__user-photo {
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
     }
}