.movie {
     display: inline-block;
     margin: 1rem 1rem 5.5rem 1rem;
     flex-basis: 20rem;
     min-height: 3.91rem;
     opacity: 0;
     visibility: hidden;
     transform: translateX(-40px);
     transition: all .5s;

     @include responsive(tab-port) { 
          flex-basis: 14rem;
     }

     @include responsive(phone) { 
          flex-basis: 11rem;
     }

     &--active {
          opacity: 1;
          visibility: visible;
          transform: translateX(0px);
     }

     &__poster {
          position: relative;
          backface-visibility: hidden;
     }

     &__link:hover &__img {
          transform: scale(1.06);
          box-shadow: 0 1.5rem 4rem rgba(20, 20, 20, 0.811);
     }

     &__vote {
          position: absolute;
          top: -14px;
          left: 50%;
          transform: translate(-50%, 0%);

          &--hidden {
               opacity: 0;
               visibility: hidden;
          }
     }

     &__vote-average {
          padding: .5rem 1.4rem;
          border-radius: 20px;
          background-color: $color-yellow;
          color: $color-white;
          font-size: 1.4rem;
     }

     &__img {
          height: 29rem;
          width: 100%;
          object-fit: cover;
          box-shadow: 0 1.5rem 4rem rgba(20, 20, 20, 0.511);
          transform: scale(1);
          transition: all .3s ease-in-out;

          @include responsive(tab-port) { //1200px
               height: 21rem;
          }

          @include responsive(phone) { //480px
               height: 16rem;
          }
     }

     &__genre {
          color: $text-gray-blue;
          font-size: 1.2rem;
          display: inline-block;

          @include responsive(phone-sm) { 
               display: none;
          }

          &:not(:last-child) {
               margin-right: .4rem;
               
               &::after {
                    content: ",";
               } 
          }

          &--lack {
               opacity: 0;
               visibility: hidden;
          }
     }
}