.movie-detail {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.555);
     z-index: 1000;
     @include flexCenter;
     opacity: 0;
     visibility: hidden;
     transition: all .2s ease-in-out;

     &--active {
          animation-name: overlayFadeIn;
          animation-duration: .2s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
     }

     &--active > &__overlay {
          animation-name: detailFadeIn;
          animation-duration: .6s;
          animation-delay: .3s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
     }

     &__overlay {
          width: 94%;
          height: 94%;
          background-color: #000;
          position: relative;
          overflow: hidden;
          border-bottom: 3px solid $color-red-dark-3;
          border-top: 3px solid $color-red-dark-3;
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.849);
          transform: translateY(2rem);
          opacity: 0;
          visibility: hidden;
          display: flex;
          position: relative;
          transition: all .2s ease-in-out;
     }

     &__overlay-contents {
          display: flex;
          width: 100%;
          height: 100%;
     }

     &__trailer,
     &__content {
          flex: 1;
          z-index: 3000;
     }

     &__trailer {
          padding: 0 3rem;
          @include flexCenter;

          @include responsive(43.75em) { 
               display: none;
          }
     }

     &__add {
          @include responsive(43.75em) { 
               display: flex;
          }

          @include responsive(phone-sm) {
               flex-direction: column; 
               align-items: center;
          }
     }

     &__play {
          display: flex;
          flex-direction: column;
     }

     &__play-box {
          @include flexCenterVertical;
     }

     &__play-icon {
          fill: rgba(255, 255, 255, 0.81);
     }

     &__video {
          width: 100%;
          height: 32rem;
          
          @include responsive(big-desktop) {
               height: 40rem;
          }
     }

     &__content {
          padding: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @include responsive(43.75em) {
               padding-right: 6rem;
          }
     }

     &__info {
          font-size: 1.6rem;
          margin-bottom: 2rem;

          & > *:not(:last-child) {
               margin-right: 2rem;
          }
     }

     &__rate {
          font-weight: 700;
     }

     &__vote {
          color: $color-red-dark-3;
     }

     &__bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2000;
          opacity: 0.3;
          object-fit: cover;
     }
}