.user {
     display: flex;
     align-items: center;
     justify-content: center;

     &__photo {
          height: 4.5rem;
          width: 4.5rem;
          border-radius: 50%;
          margin-right: 1.5rem;
     }

     &__name {
          font-size: 1.5rem;
     }
}