/**************************************
***** Basic
***************************************/

*,
*:before,
*:after {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}

html {
     font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

     @include responsive(big-desktop) {
          font-size: 64%; 
     }

     @include responsive(tab-land) { //1200px
          font-size: 56.25%; // 9px / 16px = 56.25%;
     }

     @include responsive(tab-port) { //900px 
          font-size: 50%; // 8px / 16px = 50%;
     }
}

body {
     box-sizing: border-box;
     background-color: $color-gray;
     height: 100vh;
     overflow: hidden;
}

.scroll {
     &::-webkit-scrollbar {
          width: 1rem;
     }

     &::-webkit-scrollbar-track {
          background-color: $bg-black-dark;
     }
     
     &::-webkit-scrollbar-thumb {
          background-color: $color-red-dark-3;
          border-radius: 50px;
     }
}

.content {
     display: flex;
     height: calc(100% - 6rem);
     position: relative;
}

.main, .sidebar {
     height: 100%;
     position: relative;
}

.main {
     flex: 1;
     background-color: $color-gray;
}

.sidebar {
     @extend .scroll;
     flex-basis: 16%;
     padding: 4rem 0;
     background-color: $bg-black-dark;
     color: $text-gray;
     overflow: hidden;
     overflow-y: overlay;

     @include responsive(81.25em) { 
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          z-index: 1000;
          transition: all 0.6s ease-in-out;
     }

     @include responsive(81.25em) {
          &.mobile-active {
               width: 40%; 
          } 
     }

     @include responsive(phone) {
          &.mobile-active {
               width: 100%; 
          } 
     }

     &.mobile-active {
          left: 0%
     }
}

.section {
     @extend .scroll;
     background-color: $color-gray;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     padding: 6rem 4.5rem;
     height: inherit;
     overflow-y: scroll;
     opacity: 0;
     visibility: hidden;
     // display: none;
     transition: all .4s;
     
     &--active {
          opacity: 1;
          visibility: visible;
     }
}