@keyframes overlayFadeIn {
     0% {
          visibility: hidden;
          opacity: 0;
     }

     100% {
          opacity: 1;
          visibility: visible;
     }
}


@keyframes detailFadeIn {
     0% {
          visibility: hidden;
          opacity: 0;
          transform: translateY(3rem);
     }

     100% {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
     }
}