.footer {
     position: absolute;
     left: 50%;
     bottom: 2rem;
     transform: translateX(-50%);
     @include flexCenter;

     @include responsive(phone-land) {
          display: none;
     }

     @include respon-height(tab-land) { 
          display: none;
     }
     
     &__logo {
          height: 4.5rem;

          @include responsive(big-desktop) {
               height: 5.5rem;
          }
     }
}