.header {
     background-color: $color-red-dark-3;
     @include flexCenterHorizontal;
     justify-content: space-between;
     height: 6rem;

     &__logo-box {
          flex: 0 0 16%;
          background-color: $text-red;
          align-self: stretch;
          @include flexCenter;
          transition: all .2s ease-in-out;

          @include responsive(phone) { //480px
               flex: 0 0 26%;
          }
     }

     &__mobile-menu  {
          display: none;
          height: 100%;
          width: 100%;
          transition: all .2s ease-in-out;

          @include responsive(81.25em) { 
               @include flexCenter;
          }

          &.mobile-active {
               background-color: $color-white;
               
               & > *:first-child {
                    fill: $text-red;
               }
          }
     }

     &__logo {
          height: 3.6rem;
          width: 3.6rem;
          fill: $color-logo;
          transition: all .2s ease-in-out;

          @include responsive(81.25em) { 
               display: none;
          }

          &--mobile {
               @include responsive(81.25em) { 
                    display: inline-block;
               }  
          }
     }
}