.nav {
     margin-top: 3rem;
     font-size: 1.5rem;

     &__list {
          list-style: none;
          margin-bottom: 2.2rem;
     }

     &__item {
          &:not(:last-child) {
               margin-bottom: .4rem;
          }
     }

     &__link {
          &:link,
          &:visited {
               @include flexCenterHorizontal;
               justify-content: space-between;
               padding: 1.3rem 2.5rem 1.3rem 3.5rem;
               text-decoration: none;
               color: inherit;
               letter-spacing: 0.05rem;
               z-index: 10;
               position: relative;
               transition: color .3s ease-in;
          }

          &:link::before,
          &:visited::before {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               width: 4px;
               height: 100%;
               background-color: $color-gray;
               transform: scaleY(0);
               transform-origin: bottom;
               transition: transform .2s ease-in-out, width .4s .3s cubic-bezier(1, 0, 0, 1);
               z-index: -1;
          }

          &:hover::before,
          &:active::before,
          &--active:link::before,
          &--active:visited::before {
               transform: scaleY(1);
               width: 100%;

               @media (hover: none) {
                    transform: scaleY(0);
                    width: 0%;
               }
          }

          &:hover, 
          &:active,
          &--active:link,
          &--active:visited {
               color: $text-red;
          }

          @media (hover: none) {
               color: inherit;
          }
     }

     &__link--active > &__icon {
          transform: translateX(0px) rotate(180deg);
          opacity: 1;
          visibility: visible;
     }

     &__icon {
          height: 2.5rem;
          width: 2.5rem;
          transform: translateX(-12px) rotate(180deg);
          fill: #575E63;
          opacity: 0;
          visibility: hidden;
          transition: all .4s;
     }

     &__line {
          height: .1rem;
          width: 80%;
          background-color: rgba(204, 204, 204, 0.116);
          display: block;
          margin:  0 auto;
     }


}